:root {
    --bg: #fff;
    --text: #222831;
    --theme: #3d5a80;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: var(--bg);
    color: var(--text);
    padding: 3%;
}

.privacy {
    margin-bottom: 20px;
}

.privacy-title {
    margin-bottom: 5px;
}

a {
    color: var(--theme);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}